<div class="container">
  <div class="product-container">
    <div class="product" style="background-color: #d4e9e2">
      <div class="product-left">
        <img
          alt="Pumpkin Spice Latte pictured with a phone featuring the Starbucks app surrounded by gold stars."
          class="block"
          src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81069.jpg"
        />
      </div>
      <div class="product-right">
        <div class="product-title" style="font-size: 24px">
          Fall at your fingertips
        </div>
        <div class="product-description" style="font-size: 19px">
          Ordering your fall favorites is a snap with the app. Join Starbucks®
          Rewards and tap into fall.
        </div>
        <div class="product-button product-button-green">Join now</div>
      </div>
    </div>
  </div>

  <div class="product-container">
    <div class="product" style="background-color: #d4e9e2">
      <div class="product-left">
        <div class="product-title" style="font-size: 50px">
          Buy coffee, help grow a community
        </div>
        <div class="product-description" style="font-size: 24px">
          We care deeply about coffee farmers and their communities. Your
          support helps us invest in the well-being of farmers across the
          world’s coffee-growing regions.
        </div>
        <div class="product-button product-button-green">Learn more</div>
      </div>
      <div class="product-right">
        <img
          alt="A collage of three images shows two women: one is of a woman holding a basket of green coffee beans  and the other is a woman holding a coffee branch. The third images shows buckets of fresh coffee cherries."
          class="block"
          src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-79582.png"
        />
      </div>
    </div>
  </div>

  <div class="product-container">
    <div class="product" style="background-color: rgb(0, 98, 65)">
      <div class="product-left">
        <img
          alt="Image of three new coffee bags for Veranda Blend, Sumatra and Pike Place Roast"
          class="block"
          src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-79284.jpg"
        />
      </div>
      <div class="product-right">
        <div class="product-title product-title-white" style="font-size: 50px">
          The art of the roast
        </div>
        <div
          class="product-description product-description-white"
          style="font-size: 24px"
        >
          With a new roast spectrum front and center on our coffee bags, it’s
          easier than ever to find a taste you love.
        </div>
        <div class="product-button product-button-white">Order now</div>
      </div>
    </div>
  </div>

  <div class="product-container">
    <div class="product" style="background-color: rgb(0, 98, 65)">
      <div class="product-left">
        <div class="product-title product-title-white" style="font-size: 50px">
          Nitro all fall long
        </div>
        <div
          class="product-description product-description-white"
          style="font-size: 24px"
        >
          Ready on tap, super-smooth Nitro Cold Brew. For a silky twist, try
          Vanilla Sweet Cream Nitro Cold Brew.
        </div>
        <div class="product-button product-button-white">Order now</div>
      </div>
      <div class="product-right">
        <img
          alt="Two cold coffee drinks with frothy tops in tall, clear glasses. The one on the right shows creamy marbling."
          class="block"
          src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-79584.jpg"
        />
      </div>
    </div>
  </div>

  <div class="product-container">
    <div class="product" style="background-color: rgb(0, 98, 65)">
      <div class="product-left">
        <img
          alt="Side view of sandwich showing bacon and cheese next to overhead shot of two round egg bites in a container."
          class="block"
          src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-79585.jpg"
        />
      </div>
      <div class="product-right">
        <div class="product-title product-title-white" style="font-size: 24px">
          Deliciously protein-packed
        </div>
        <div
          class="product-description product-description-white"
          style="font-size: 19px"
        >
          Keep on the move with a Bacon, Gouda & Egg Sandwich or Egg White &
          Roasted Red Pepper Egg Bites.
        </div>
        <div class="product-button product-button-white">Learn more</div>
      </div>
    </div>
  </div>

  <div class="product-container">
    <div class="product" style="background-color: #d4e9e2">
      <div class="product-left">
        <div class="product-title" style="font-size: 24px">
          Celebrate Latinx Heritage Month
        </div>
        <div class="product-description" style="font-size: 19px">
          See how the Starbucks Hora del Café Partner (employee) Network is
          taking action to build stronger and kinder communities for all.
        </div>
        <div class="product-button product-button-green">Learn more</div>
      </div>
      <div class="product-right">
        <img
          alt="Illustration of 6 people of various ages, skin tones and genders are dancing, smiling and playing instruments against a background of various green colors. Two of the people are wearing green aprons, while two of the people are playing instruments including a trumpet and a guitar. The person playing the trumpet is sitting in a wheelchair."
          class="block"
          src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81070.jpg"
        />
      </div>
    </div>
  </div>
</div>
